<h3>
    Blok Pierwszy
</h3>
<form action="">
  <label class="container">
    <input type="radio" name="option" value="First" (change)="Option = 'first'" checked>Opcja pierwsza
    <span class="checkmark"></span>
  </label><br>
  <label class="container">
    <input type="radio" name="option" value="Second" (change)="Option = 'second'">Opcja druga
    <span class="checkmark"></span>
  </label><br>
  <label class="container">
    <input type="radio" name="option" value="Third" (change)="Option = 'random'">Opcja trzecia
    <span class="checkmark"></span>
  </label><br>
  </form>