.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: white;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #ccccccf5;
  }
  
  .container input:checked ~ .checkmark {
    background-blend-mode: color;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
      top: 4px;
      left: 4px;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background: white;
  }