*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
header{
    padding: auto;
    background-color: #0b0c10;
}
main{
    background-color: 2a2d36;
    background-color: #2a2d36;
    height: 20vw;
}
section{
    width: 33.3%;
    float: inline-start;
    background-color: #2a2d36;
    height: 100%;
}
footer{
    padding: auto;
    text-align: justify;
    background-color: #0b0c10;
    width: 100%;
}