body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: white;
    background-color: #2a2d36;
}
app-header{
    width: 100%;
    height: 8vh;
    background-color: #0b0c10;
    position: fixed;
    top: 0;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: auto;
    p{
        font-size: 2em;
    }
    a{
        margin: 3%;
    }
    img{
        margin-top: 12px;
        margin-left: 10px;
        width: 60px;
        filter: brightness(100);
        align-items: center;
    }
    .html_logo{
        height: 80px;
        width: 80px;
        background-color: #303030;
        border-radius: 100%;
        cursor: pointer;
        transition-duration: 0.4s;
        &:hover{
            background-color: #fd9d22;
        }
    }
}
h3{  
    text-transform: uppercase;
    text-overflow: clip;
    text-wrap: nowrap;
    
}
app-heading1{
    top: 8vh;
    height: 8vh;
    width: 100%;
    position: fixed;
    text-align: center;
    padding: auto;
    h1{
        text-align: center;
    }
}
section{
    top: 16vh;
    bottom: 8vh;
    width: 100%;
    text-align: center;
    display: flex;
    position: fixed;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #2a2d36;
    form{
        text-align: left;
        margin: 5%;
    }
}
app-first-block{
    width: 33.3%;
}
app-second-block{
    width: 33.3%;
}
app-third-block{
    width: 33.3%;
}
app-footer{
    position: fixed;
    justify-content: space-between;
    background-color: #0b0c10;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
    height: 8vh;
    
    

}
